<!-- Footer Section -->
<footer class="footer py-4 mt-5">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 text-center">
                <div class="social-links mb-4">
                    <a href="https://github.com/PratikKokane0627" class="social-link" target="_blank" title="GitHub">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/kokane-pratik" class="social-link" target="_blank"
                        title="LinkedIn">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="#" class="social-link" title="Instagram Profile">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com/YourTwitter" class="social-link" target="_blank" title="Twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
                <p class="mb-0 footer-info-text">
                    <i class="fas fa-code me-2"></i> Developed with passion |
                    <i class="fas fa-map-marker-alt mx-2"></i> Maharashtra, India |
                    <i class="fas fa-envelope mx-2"></i> pratikkokane0627@gmail.com |
                    <i class="fas fa-phone mx-2"></i> +91 9370396371
                </p>
                <p class="mb-0 mt-2">© 2025 Pratik Kokane. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

    <!-- Back to Top Button -->
    <div class="back-to-top" id="backToTop">
        <i class="fas fa-arrow-up"></i>
    </div>


    <script src="/js/main.js"></script>
</body>

</html>